<table style="width: 100%">
	<tr>
		<th>
			<a (click)="sortBy('name')">
				Name
				<sort-arrow [sortPath]="'name'"></sort-arrow>
			</a>
		</th>
		<th>
			<a (click)="sortBy('priority.priority')">
				Priority
				<sort-arrow [sortPath]="'priority.priority'"></sort-arrow>
			</a>
		</th>
		<th>
			<a (click)="sortBy('deadline')">
				Deadline
				<sort-arrow [sortPath]="'deadline'"></sort-arrow>
			</a>
		</th>
		<th>
			<a (click)="sortBy('creationDate')">
				Creation date
				<sort-arrow [sortPath]="'creationDate'"></sort-arrow>
			</a>
		</th>
	</tr>
	<tr style="text-align: center"
		*ngFor="let todo of todoList | async">
		<td>{{todo.name}}</td>
		<td>{{todo.priority.name}}</td>
		<td>{{todo.deadline | date : 'mediumDate'}}</td>
		<td>{{todo.creationDate | date: 'medium'}}</td>
		<td>
			<a (click)="editTodo(todo)">Edit</a>
			&nbsp;
			<a (click)="deleteTodo(todo)">Delete</a>
		</td>
	</tr>
</table>

<button mat-button
		(click)="previousPage()">&lt;</button>
<button mat-button
		(click)="nextPage()">&gt;</button>
