<h1 mat-dialog-title>Save Todo</h1>
<form [formGroup]="todoForm">
	<div mat-dialog-content
		 fxLayout="column">
			<mat-form-field appearance="fill">
				<mat-label>Name</mat-label>
				<input matInput
					   id="name"
					   formControlName="name"
					   type="text" />
				<mat-error *ngIf="todoForm.controls['name'].errors?.['required']">Name is required</mat-error>
			</mat-form-field>
			
			<mat-form-field appearance="fill">
				<mat-label>Priority</mat-label>
				<mat-select id="priority"
					   formControlName="priority">
					   
					<mat-option>None</mat-option>
					
					<mat-option *ngFor="let priority of priorities | async"
								[value]="priority.id">
						{{priority.name}}
					</mat-option>
				</mat-select>
				
				<mat-error *ngIf="todoForm.controls['priority'].errors?.['required']">Priority is required</mat-error>
			</mat-form-field>
			
			
			<mat-form-field appearance="fill">
				<mat-label>Deadline</mat-label>
				<input formControlName="deadline"
					   matInput
					   [matDatepicker]="picker">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				
			</mat-form-field>
	</div>
	<div mat-dialog-actions>
	  <button mat-button (click)="cancel()">Cancel</button>
	  <button mat-button (click)="save()" cdkFocusInitial>Ok</button>
	</div>
</form>