<form [formGroup]="todoSearchForm"
	  fxLayout="column">
	<mat-form-field appearance="fill">
		<mat-label>Name</mat-label>
		<input matInput
			   id="name"
			   formControlName="name"
			   type="text" />
	</mat-form-field>
	
	<mat-form-field appearance="fill">
		<mat-label>Priority</mat-label>
		<mat-select id="priority"
			   formControlName="priority">
			   
			<mat-option>None</mat-option>
			
			<mat-option *ngFor="let priority of priorities | async"
						[value]="priority.id">
				{{priority.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	
	
	<mat-form-field appearance="fill">
		<mat-label>Deadline</mat-label>
		<mat-date-range-input formGroupName="deadline" [rangePicker]="deadlinePicker">
			<input matStartDate formControlName="from" placeholder="From date">
		  	<input matEndDate formControlName="to" placeholder="To date">
		</mat-date-range-input>
		<mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
		<mat-date-range-picker #deadlinePicker></mat-date-range-picker>
		
	</mat-form-field>
	
	<mat-form-field appearance="fill">
		<mat-label>Creation date</mat-label>
		<mat-date-range-input formGroupName="creationDate" [rangePicker]="creationDatePicker">
			<input matStartDate formControlName="from" placeholder="From date">
		  	<input matEndDate formControlName="to" placeholder="To date">
		</mat-date-range-input>
		<mat-datepicker-toggle matSuffix [for]="creationDatePicker"></mat-datepicker-toggle>
		<mat-date-range-picker #creationDatePicker></mat-date-range-picker>
		
	</mat-form-field>
	
	<div fxLayout="row"
		 fxLayoutAlign="space-evenly center">
		 
		<button type="button"
				mat-raised-button
				color="primary"
				(click)="search()">Search</button>
	</div>
</form>
