<form [formGroup]="sampleForm">
	<mat-form-field appearance="fill">
		<mat-label>Name</mat-label>
		<input matInput
			   id="name"
			   formControlName="name"
			   type="text" />
		<mat-error *ngIf="sampleForm.controls['name'].errors?.['required']">Name is required.</mat-error>
	</mat-form-field>
	
	<div fxLayout="row"
		 fxLayoutAlign="space-evenly center">
		 
		<button type="button"
				mat-raised-button
				color="primary"
				(click)="save()">Save</button>
	</div>
</form>
