<div class="flex-container"
	 fxLayout="column"
	 fxLayoutAlign="center center">
	 
	<button type="button"
				mat-raised-button
				color="primary"
				(click)="newTodo()">New Todo</button>
	 
	<todo-search></todo-search>
	
	<todo-list style="width: 60%"></todo-list>
	
</div>
